@font-face {
  font-family: "PT sans";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT sans";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT sans";
  font-style: italic;
  font-weight: 400;
  src: url("fonts/ptsans-italic.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT sans";
  font-style: italic;
  font-weight: 700;
  src: url("fonts/ptsans-bolditalic.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #FFFFFF;
  color: #242424;
}

.navigation-link {
  font-family: "PT sans", sans-serif
}
